<div class="calculator">

  <!-- <input type="text" class="calculator-screen" id='res' value="0" disabled/> -->
  <div class="calculator-screen">{{input}}</div>
  <div class="calculator-keys">

    <button type="button" class="operator" value="+" (click)="pressOperator('+')">+</button>
    <button type="button" class="operator" value="-" (click)="pressOperator('-')" >-</button>
    <button type="button" class="operator" value="*" (click)="pressOperator('*')">&times;</button>
    <button type="button" class="operator" value="/" (click)="pressOperator('/')">&divide;</button>

    <button type="button" value="7" (click)="pressNum('7')">7</button>
    <button type="button" value="8" (click)="pressNum('8')">8</button>
    <button type="button" value="9" (click)="pressNum('9')">9</button>


    <button type="button" value="4" (click)="pressNum('4')">4</button>
    <button type="button" value="5" (click)="pressNum('5')">5</button>
    <button type="button" value="6" (click)="pressNum('6')">6</button>


    <button type="button" value="1" (click)="pressNum('1')">1</button>
    <button type="button" value="2" (click)="pressNum('2')">2</button>
    <button type="button" value="3" (click)="pressNum('3')">3</button>


    <button type="button" value="0" (click)="pressNum('0')">0</button>
    <button type="button" class="decimal" value="." (click)="pressNum('.')">.</button>
    <button type="button" class="all-clear" value="all-clear" (click)="allClear()" >AC</button>
    <button type="button" class="clear" value="all-clear" (click)="clear()" >DEL</button>
    <button type="button" class="equal-sign" value="=" (click)="getAnswer()" >=</button>

  </div>
</div>
